<header class="header-principal hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="navbar-brand" routerLink="/">
                    <span class="logo-principal">{{logo}}</span>
                    <span class="nombre-logo-principal" [innerHTML]="nombreDesc"></span>
                </a>
            </div>
            <div class="col-md-6 text-right">
                <img src="/img/logo-produce.png">
            </div>
        </div>
    </div>
</header>