@model Prod.Seguridad.Auth.SecuritySettings;

<br />
<div class="container">
    <div class="text-center">
        <div class="form-group error-icono">
            <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
        </div>

        <div class="alert alert-warning">
            <h4 class="alert-heading">Acceso denegado!</h4>
            <p>Su configuración no está completa para acceder a esta aplicación,si el problema persiste ponte en contacto con el administrador</p>
            <p class="mb-0">
                <a class="btn btn-danger btn-group-sm" href="@Model.LoginPath"><i class="fa fa-home"></i> Volver a Produce Virtual</a>
                @if (User.Identity.IsAuthenticated)
                {
                    var user = User.Identity.Name;
                    <a class="btn btn-default btn-group-sm" href="/Auth/Logout"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                }
            </p>
        </div>

    </div>
</div>





