<app-modal-envelope [header]="false" [footer]="false">
    <div body class="text-center">
        <span class="fa-stack fa-4x">
            <i class="fa fa-stack-1x" [ngClass]="theme.icon"></i>
            <i class="fa fa-circle-thin fa-stack-2x" [ngClass]="theme.circle"></i>
        </span>
        <h2 *ngIf="title">{{title}}</h2>
        <div class="form-group">
            <h4>{{msg}}</h4>
        </div>
        <div class="form-group">
            <button type="button" class="btn" [ngClass]="theme.button" (click)="handleOk()">
                <i class="fa fa-check" aria-hidden="true" *ngIf="type=='success'||type=='warning'"></i>
                Aceptar
            </button>
            <button *ngIf="cancelButton" type="button" class="btn btn-default-custom"
                (click)="handleCancel()"><i class="fa fa-ban" aria-hidden="true"></i>
                Cancelar
            </button>
        </div>
    </div>
</app-modal-envelope>