<app-modal-envelope modal-title="Detalles del Documento" [loading]="loading"
    [onClose]="bsModalRef.hide" [footer]="false">
    <div body style="max-height: 832px;">
        <div id="cuerpo-test">
            <div *ngIf="loading" class="text-center container-cargando-datos">Cargando
                datos del
                documento...</div>
            <div *ngIf="tipo=='E'&&!loading">
                <div class=" form-group text-center">
                    <h2 class="subtitle-detail">Hoja de Trámite</h2>
                    <h2 class="subtitle-detail">
                        N°
                        {{flujoDocumentario.documento.num_tram_documentario}}-E
                        ({{flujoDocumentario.documento.tipo}})
                        <a class="btn btn-link btn-icon" style="vertical-align: top;"
                            role="button"><i class="fa fa-file-pdf-o fa-lg"
                                aria-hidden="true"></i></a></h2>
                    <div class="btn-exportar">
                        <button type="button" class="btn btn-secondary-custom"
                            (click)="captureScreen()"><i class="fa fa-file-pdf-o"
                                aria-hidden="true"></i>
                            Exportar a PDF</button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group mb-0">
                        <label class="col-sm-2 control-label">Remitente:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{flujoDocumentario.documento.razon_social}}</p>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="col-sm-2 control-label">Documento:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{flujoDocumentario.documento.nro_documento}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group mb-0">
                                <label class="col-sm-3 control-label">Asunto:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static"><span *ngIf="flujoDocumentario.documento.tipo=='TUPA'">TUPA
                                            N° </span>{{flujoDocumentario.documento.asunto}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-0">
                                <label class="col-sm-4 control-label">Fecha:</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static">{{flujoDocumentario.documento.fecha}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="col-sm-2 control-label">Observaciones:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{flujoDocumentario.documento.observaciones
                                || "-"}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tipo=='I'&&!loading"></div>

            <hr>

            <accordion class="joined">
                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true">
                    <h4 accordion-heading>
                        <a href="javascript:">Situación del Documento</a>
                    </h4>

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-0">
                                    <label class="col-sm-6 control-label">Días
                                        en trámite:</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{flujoDocumentario.documento.dias_tramite
                                            || "-"}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-0">
                                    <label class="col-sm-7 control-label">Fecha
                                        de Plazo Máximo:</label>
                                    <div class="col-sm-5">
                                        <p class="form-control-static">{{flujoDocumentario.documento.fecha_max_plazo
                                            || "-"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="flujoDocumentario.documento.dias_catalogados_tupa||flujoDocumentario.documento.dias_suspension_tupa">
                            <div class="col-sm-6">
                                <div class="form-group mb-0">
                                    <label class="col-sm-6 control-label">Días
                                        catálogados en TUPA:</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">{{flujoDocumentario.documento.dias_catalogados_tupa
                                            || "-"}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-0">
                                    <label class="col-sm-7 control-label">Días
                                        de suspensión de plazos TUPA:</label>
                                    <div class="col-sm-5">
                                        <p class="form-control-static">{{flujoDocumentario.documento.dias_suspension_tupa
                                            || "-"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label class="col-sm-3 control-label">Estado:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{flujoDocumentario.documento.estado}}
                                    <span *ngIf="flujoDocumentario.documento.fecha_finalizacion">EN
                                        {{flujoDocumentario.documento.oficina_finalizacion}}
                                        EL
                                        {{flujoDocumentario.documento.fecha_finalizacion|dateFormat:"":"hh:mm:ss
                                        A"}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <label class="col-sm-3 control-label">Pendiente en:</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{flujoDocumentario.documento.oficinas_pendientes
                                    || "-"}}</p>
                            </div>
                        </div>
                    </div>

                </accordion-group>

                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true"
                    *ngIf="flujoDocumentario.anexos.length>0">
                    <h4 accordion-heading>
                        <a href="javascript:">Documentos Adjuntos</a>
                    </h4>

                    <app-list-table [items]="flujoDocumentario.anexos"
                        [tableDef]="tableDefAnexos"></app-list-table>

                </accordion-group>

                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true"
                    *ngIf="flujoDocumentario.flujoDependencias.length>0">
                    <h4 accordion-heading>
                        <a href="javascript:">Flujo entre Dependencias</a>
                    </h4>

                    <app-list-table [items]="flujoDocumentario.flujoDependencias"
                        [tableDef]="tableDefFlujoDependencias"></app-list-table>

                </accordion-group>

                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true"
                    *ngIf="flujoDocumentario.flujoTrabajadores.length>0">
                    <h4 accordion-heading>
                        <a href="javascript:">Flujo entre Trabajadores</a>
                    </h4>

                    <app-list-table [items]="flujoDocumentario.flujoTrabajadores"
                        [tableDef]="tableDefFlujoTrabajadores"></app-list-table>

                </accordion-group>

                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true"
                    *ngIf="flujoDocumentario.correspondencias.length>0">
                    <h4 accordion-heading>
                        <a href="javascript:">Datos de la Correspondencia</a>
                    </h4>

                    <app-list-table [items]="flujoDocumentario.correspondencias"
                        [tableDef]="tableDefCorrespondencias"></app-list-table>

                </accordion-group>

                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true"
                    *ngIf="flujoDocumentario.resoluciones.length>0">
                    <h4 accordion-heading>
                        <a href="javascript:">Datos de la Resolución</a>
                    </h4>

                    <app-list-table [items]="flujoDocumentario.resoluciones"
                        [tableDef]="tableDefResolucion"></app-list-table>

                </accordion-group>

                <accordion-group [panelClass]="'panel panel-info'" [isOpen]="true"
                    *ngIf="flujoDocumentario.expedientesAcumulados.length>0">
                    <h4 accordion-heading>
                        <a href="javascript:">Expedientes acumulados</a>
                    </h4>

                    <app-list-table [items]="flujoDocumentario.expedientesAcumulados"
                        [tableDef]="tableDefExpedientesAcumulados"></app-list-table>

                </accordion-group>

            </accordion>


        </div>
    </div>
</app-modal-envelope>